<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <remove fileExtension=".js" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <iisnode 
      node_env="%node_env%"
      nodeProcessCommandLine="node"
      interceptor="iisnode/interceptor.js"
      promoteServerVars="LOGON_USER,AUTH_USER,AUTH_TYPE,HTTPS,SERVER_SOFTWARE"
      logDirectory="iisnode"/>
  </system.webServer>
</configuration>